---
# Credits to sonroyaalmerol
name: Release Image
on:
  push:
    branches: [master]
    paths: ['Dockerfile', '.github/workflows/release.yml']
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  release:
    name: Release - Docker image
    runs-on: ARM64
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Get current date
        id: current-date
        run: |
          echo "TODAY=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: GHCR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Docker - Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ github.repository }}
            ghcr.io/${{ github.repository }}
          flavor: latest=true

      - name: Docker - Build / Push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          platforms: linux/arm64
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max